{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    {% for msg in messages %}
    <div class="message">
      <h3>{{ msg }}</h3>
    </div>
    {% endfor %}
    <div style="display: flex; justify-content: center">
      <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input
          type="text"
          name="username"
          placeholder="Enter username"
          required
        />
        <br />

        <label for="password">Password:</label>
        <input
          type="password"
          name="password"
          placeholder="Enter password"
          required
        />
        <br />
        <div style="display: flex; justify-content: center">
          <input type="submit" value="Login" />
        </div>
      </form>
    </div>
    <a href="{% url 'register' %}">Sign up first</a>
  </body>
</html>
