{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  </head>
  <body>
    <form method="post">
      <label for="username">Username:</label>
      {{ form.username }}
      <br />

      <label for="email">Email:</label>
      {{ form.email }}
      <br />

      <label for="first_name">First Name:</label>
      {{ form.first_name }}
      <br />

      <label for="last_name">Last Name:</label>
      {{ form.last_name }}
      <br />

      {% comment %}
      <div class="select-wrapper">
        {% endcomment %}
        <label for="role">You want to : </label>
        <select id="mySelect" class="custom-select" name="role">
          <option value="buy">Buy some stuff</option>
          <option value="sell">Sell some stuff</option>
        </select>
        {% comment %}
      </div>
      {% endcomment %}

      <label for="password1">Password:</label>
      {{ form.password1 }}
      <br />

      <label for="password2">Confirm Password:</label>
      {{ form.password2 }}
      <br />

      {% csrf_token %}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
